.loadingLbl {
    text-align: center;
}
.loadingCircle {
    animation: spin 0.5s linear infinite;
}

.img {
    max-width: 60vw;
    max-height: 60vh;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
