@media screen and (max-width: 768px) {
    .container {
        flex-direction: column !important;
        width: 300px;
    }
}

.buttons {
    width: 100%;
}

.infoLbl {
    color: white;
    line-height: 1;
}

.creatorHdr {
    line-height: 0.5;
    margin-top: 15px;
}
