@import "../../index.scss";

$padding: 15px;

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    box-sizing: border-box;
    & > * {
        position: absolute;
    }
}

.aboutBtn {
    bottom: $padding;
    right: $padding;
    font-size: 15px;
}

.tip {
    top: $padding;
    left: $padding;
    background-color: $background;
    border-radius: $borderRadius;
    padding: 10px;
    animation: glowing 4s linear infinite;
}

@keyframes glowing {
    0%,
    100% {
        color: $text;
    }
    50% {
        color: darken($text, 30%);
    }
}
