@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

$background: #222222;
$text: hsl(140, 100%, 60%);
$transitionDuration: 0.3s;
$borderRadius: 5px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #222222;
    color: $text;
}

#app {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    border: none;
    padding: 10px;
    box-shadow: none;
    border-radius: $borderRadius;
    background-color: $background;
    color: $text;
    transition: all $transitionDuration ease;
    border: 1.5px solid lighten($background, 10%);
    box-shadow: 0 0 0.5px black;
    &:hover {
        background-color: $text;
        color: black;
        border-color: darken($text, 10%);
    }
}
